{% extends 'bootstrap/base.html' %}

{% from 'bootstrap/wtf.html' import quick_form %}

{% block title %}
    默认标题
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" style="border-radius: 0px">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">首页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">板块一</a></li>
                    <li><a href="#">版块二</a></li>
                    <li><a href="#">板块三</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                         <li><img src="{{ url_for('static',filename='upload/'+current_user.icon) }}" width="30px" style="display: inline-block; vertical-align: middle;" alt="icon"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ current_user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('user.profile') }}">详细信息</a></li>
                                <li><a href="{{ url_for('user.mima') }}">修改密码</a></li>
                                <li><a href="{{ url_for('user.changeemail') }}">修改邮箱</a></li>
                                <li><a href="{{ url_for("user.icon") }}">修改头像</a></li>
{#                                <li role="separator" class="divider"></li>#}
{#                                <li><a href="#">Separated link</a></li>#}
                            </ul>
                        </li>
                    <li><a href="{{ url_for('user.logout') }}">退出</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user.login') }}">登录</a></li>
                    <li><a href="{{ url_for('user.register') }}">注册</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block content%}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    {% endfor %}
{% block page_content %} 默认内容 {% endblock %}
</div>
{% endblock %}

{% block head %}
{{ super() }}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}" />
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.locale('zh-CN') }}

{% endblock %}